* {
    margin:0;
    padding:0;
    }

.html::-webkit-scrollbar {
    display: none;
}
main::-webkit-scrollbar {
    display: none;
  }
  body::-webkit-scrollbar {
    display: none;
  }

  .sidebody::-webkit-scrollbar {
    display: none;
}
.mainbody::-webkit-scrollbar {
    display: none;
}
@media (max-width: 600px) {
    body{
   
        margin: 0;
        padding: 0;
        /* background-image: linear-gradient(90deg, rgb(41, 41, 112),rgb(37, 24, 24)); */
        background-size: 150%;
        background-repeat: repeat;
        overflow-x: hidden;
        display: block;
        -ms-overflow-style: none; 
        
        background-image: url(img/gentlemen.svg) ;
    
    }

    .sidebody{
    
    display: inline-block;
    width: 9vw;
    height: 250vh;
    white-space: no-wrap;
    margin: 0;
    background-image: url(img/sideimg1.png);
    background-size: contain;
    background-position: fixed;
    filter: invert();
    background-color: rgb(0, 0, 0);
}
.mainbody{
    display: inline-block;
    width: 80vw;
    height: 300vh;
    white-space: no-wrap;
    margin: 0;
}
  
 /* opening logo */
 .opening-logo{
    filter: inherit;
}

.opening-logo-img {
border-radius: 200%;
width: 13rem;
filter: drop-shadow(0px 0px 15px rgb(83, 122, 117));
position: absolute;
left: 25%;
top: 12.5vh;
}

.rot-img-text {
display: inline-block;
width: 13.2rem;
position: absolute;
left: 24.8%;
top: 12.2vh;
animation-name: rot-icon;
animation-duration: 10s;
animation-timing-function: linear;
animation-iteration-count: infinite;
border-radius: 200%;

}


 /* nav bar */

 .lang{
    line-height: 300%;
    top: 4px;
    text-overflow: hidden;
    border-radius: 30px 0 0  30px;
   }
.credit{
    border-radius:  0  30px 30px 0   ;
    top: 4px;
    text-overflow: hidden;
    
   
}
.lang , .credit{
    filter: invert();
    position: absolute;
   overflow: hidden;
    
    width: inherit;
    height: 3%;
    background-color: rgb(59, 98, 136);
    color: rgb(58, 23, 23);
    text-align: center;
    box-shadow: 2px 4px 7px 4px rgba(0, 0, 0, 0.708) ,2px 4px 7px 4px rgba(255, 255, 255, 0.708);
}
.navi{
    
    position: absolute;
    top: 4px;
    left: 9%;
    width: inherit;
    height: 7.3%;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    color: rgb(58, 23, 23);
    text-align: center;
    box-shadow: 2px 4px 7px 4px rgba(0, 0, 0, 0.708) ,2px 4px 7px 4px rgba(255, 255, 255, 0.708);
}
.navi-in{
    
    white-space: no-wrap;
   display: inline-block;
    height: 100%;
    width: 50%;
    background-color: rgb(59, 95, 136);
    

}

 .search-call{
    height: inherit;
}

.navi-in1{
    line-height: 250%;
   overflow: hidden;
    display: inline-block;
    height: 100%;
    width: 49%;
    background-color: rgb(59, 98, 136);



}




}

@media (min-width: 601px) {
    body{
   
        margin: 0;
        padding: 0;
        /* background-image: linear-gradient(90deg, rgb(41, 41, 112),rgb(37, 24, 24)); */
        background-size: 150%;
        background-repeat: repeat;
        overflow: hidden;
        display: flex;
        -ms-overflow-style: none; 
       filter: contrast(50px);
        background-image: url(img/man.svg) ;

    }

    main{
        overflow-y: hidden;
        overflow-x: hidden;
        -ms-overflow-style: none; 
        margin: 0;
        padding: 0;
        
    }
    

    .sidebody{

       

        position: relative;
        display: inline-block;
    
        display: flex;
        min-width: 300vw ;
        height: 10vh;
        
        
        background-image: url(img/sideimg.png);
        background-size: contain;
        background-position: fixed;
        
        background-color: rgb(0, 0, 0);
       
      
    }
    .mainbody{
       position: relative;
        display: inline-block;
        width: auto;
        height: 80vh;
        white-space: nowrap;
        margin: 0;
        padding: 0%;
        overflow: visible;
        background-color: rgba(0, 0, 0, 0.715);
        

    }






    #progressbar{
        min-width: 10%;
    
        height: 1%;
        float: left;
       position: fixed;
       top: 12%;
       right: 10%;
       border-radius: 50px;
       overflow: hidden;
       border-width: 2px;
       border-style: solid;
    }
    #inner-progressbar{
        min-width: 1%;
        width: 0;
        background-color: blue;
        height: 100%;
        transition: all linear 0.1s;
    }

    .endpoint{
        position: absolute;
z-index: 20000;
display: flex;
justify-content: center;
align-items: center;
        top: -13.2%;
        width: 100vw;
        height: 50vw;
        background-color: rgb(255, 255, 255);
        filter: drop-shadow(0px 0px 3px rgba(255, 255, 255, 0.411));
        font-size: 11vw;
        font-family: "Protest Guerrilla";
        font-weight: 600;
        font-style: normal;
        margin: 0;

        visibility: hidden;
        display: none;

    }
    /* nav bar */

    .lang{
        top: 4px;
        border-radius: 30px 30px 0 0;
 
       }
    .credit{
        border-radius: 0 0 30px 30px ;
        top: 4px;
       
    }
    .lang , .credit{ 
        position: sticky;
        
        line-height: 300%;
        float: inline-start;
      border: 1px solid white;
        left: 5px;
        width: 4rem;
        height: 80%;
        background-color: rgba(0, 0, 0, 0.37);
        color: rgb(255, 240, 240);
        text-align: center;
        box-shadow: 2px 4px 7px 4px rgba(0, 0, 0, 0.708) ,2px 4px 7px 4px rgba(255, 255, 255, 0.708);
    }
    .navi{
        z-index: 1000;
        border: 1px solid white;
        position: sticky;
        float: inline-start;
        top: 1%;
        left: 5px;
        width: 4rem;
        height: 96%;
        overflow: hidden;
        background-color: rgba(0, 83, 100, 0.151);
        color: rgb(58, 23, 23);
        text-align: center;
        /* box-shadow: 2px 4px 7px 4px rgba(0, 0, 0, 0.708) ,2px 4px 7px 4px rgba(255, 255, 255, 0.708); */
    }
    .navi-in{
        border: 1px solid white;
        height: 50%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.311);
        margin-bottom: 1%;

    }
    .navi-in1{
        border: 1px solid white;
        writing-mode: vertical-lr;
text-orientation:upright;
        height: 50%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.311);

 padding-left: 30%;

    }

    .search-call{
        margin: 1%;
        width: 50%;
        height: auto;
    }




    /* opening logo */
    .opening-logo{
        filter: inherit;
    }
   
.opening-logo-img {

    border-radius: 200%;
    width: 3rem;
    filter: drop-shadow(0px 0px 15px rgb(83, 122, 117));
    
   
}

.rot-img-text {
    display: inline-block;
    width: 3.22rem;
    position: absolute;
    left: 10%;
    
    animation-name: rot-icon;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    border-radius: 200%;

}



.page1{
    overflow: auto;
    /* white-space: no-wrap; */
    display: inline-block;
    width: 100vw;
    background-size: 200%;
    height:inherit;
   background-image: linear-gradient(90deg,  rgba(255, 255, 255, 0),rgba(0, 0, 0, 0));
   background-attachment: fixed;
}

.pageclass ,.page-2 , .page-3 , .page-4{
    overflow: auto;
    /* white-space: no-wrap; */
    display: inline-block;
    width: 100vw;
    background-size: 200%;
    height: inherit;
    background-color: white;
   /* background-image: linear-gradient(90deg,  rgba(255, 255, 255, 0.692),rgba(0, 0, 0, 0.847)); */
   background-attachment: fixed;
}

.page1-img{
    width: 63vw;
    height: 20vw;
    filter: drop-shadow(0px 0px 15px rgba(107, 219, 204, 0));
    background-color: rgb(0, 0, 0);
    position: relative;
    top: 25%;
    left: 15%;
    background-size: 60%;
    animation-name: test;
    animation-duration:7s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-timing-function: linear;
    background-image: linear-gradient(90deg, rgba(42, 120, 205, 0.249), rgba(35, 29, 218, 0.445), rgba(65, 93, 222, 0.142),rgba(57, 41, 121, 0.596)); 

    /* background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.249), rgba(255, 255, 255, 0.445), rgba(168, 180, 168, 0.142),rgba(255, 255, 255, 0.596));  */

/* background-image: linear-gradient(90deg,rgba(255, 255, 255, 0), rgba(0, 128, 0, 0.142), rgba(75, 75, 186, 0), rgba(255, 255, 255, 0.196)); */
   /* background-image: url("https://lh3.googleusercontent.com/drive-viewer/AEYmBYS0DJjUNxfSWAKCEc88X5S8unYzAedxQGqr9bF6WlmGmWolrL4DdS1gQPwCURhuXJvCZwqulcAzLCgbJjdhaSxYQMLd=s1600"); */
   background-attachment: fixed;
   background-position: center;
}


.side-page1{
width: 100vw;
background-size: 200%;
height: 107%;
background-image: linear-gradient(90deg,  rgba(15, 15, 36, 0.753),rgba(0, 0, 0, 0.719));
background-attachment: fixed;
filter: inherit;

}



/* page loop start here  */


.load{
    
    position: absolute;
    top: 25%;
    bottom: 25%;
    text-transform: uppercase;
    left: 405vw;
    width: fit-content;
    height:fit-content;
    font-size: 130%;
    border: 1px solid rgb(124, 150, 82);
        writing-mode: vertical-lr;
text-orientation:upright;

        background-color: rgba(111, 86, 179, 0.658);
        color: rgb(217, 218, 223);
z-index: 1000;
}



.page1000{
    
 overflow: auto;
    display: inline-block;
  width: 100vw;
  height: fit-content;
 color: rgb(0, 255, 255);
 background-color: rgba(85, 22, 209, 0);
 overflow-x: hidden;
}


.header1001{
    font-size: 9vw;
    font-family: "Protest Guerrilla";
    font-weight: 600;
    font-style: normal;
    display: block;
    width: fit-content;
    height: fit-content;
    background-color: rgba(253, 244, 244, 0);
    position: relative;
    
    left: 0%;
  

  color: aliceblue;
  overflow: auto;



}
.content1002{
display: block;
    width: inherit;
    height: 56vh;
    background-color: rgba(22, 76, 158, 0.007);
    position: relative;
    
    left: 0%;
overflow: auto;
    white-space: wrap;

}



}


.content1002::-webkit-scrollbar {
    display: none;
  }



/* media end here */






.page1-text{
  
    background-clip: text;
    color: transparent;overflow: hidden;
    text-wrap: nowrap;
 
  text-align: right;
  /* border: 3px solid green; */
  filter: drop-shadow(0px 0px 3px rgba(255, 255, 255, 0.411));
    font-size: 11vw;
    font-family: "Protest Guerrilla";
    font-weight: 600;
    font-style: normal;


}






a{
  text-transform: uppercase;
    color: aliceblue;
    text-decoration: none;
}

@keyframes rot-icon {
    to {
        transform: rotate(1turn);
    }

}

@keyframes test {
   
    0% {
        transform: translate(-20%, -10%);
      background-image: url('https://lh3.googleusercontent.com/drive-viewer/AEYmBYTLZ6mT_kObZX9WVRy5qc564U6ONRwYxKf7BE23eVB7WGgqmTg62fKDjQj8ErUq2sr7s-_sH2k_5oDcQXhYaLKLTxBzeg=s1600');
      font-size: 55vw;
    
      z-index: -1;
    }
    10% {
      background-image: url('https://lh3.googleusercontent.com/drive-viewer/AEYmBYTvZWC4ku3Q9knUfWnzZlFayoY4w-vyoubjRM-nGRxjKpVhabfkvnv8XXzQjnwFaDcjjKmKl8AsTVFY7iH8QBqEUvNR=s1600');
    }
    20% {
        z-index: 1;  
      background-image: url('https://lh3.googleusercontent.com/drive-viewer/AEYmBYRcf9_i0uR16msJVHgCqFF4invKby5sKKJlsHff4qswPKFt5WvgJf9ytSdQ-m4fUACvxXWtULtaVOnxYDem33AvPctDEA=s1600');
    }
    30% {
      background-image: url('https://lh3.googleusercontent.com/drive-viewer/AEYmBYQ_n8FTUaKup_TIyzAemi6B4HxX9NSREIuEe1M-L-qqVetV96XaotV7l5B_GwLX0BM2XVxWOEjoPsHST5nz_qMw2lKYuQ=s1600');
    }
    40% {

      background-image: url('https://lh3.googleusercontent.com/drive-viewer/AEYmBYS0DJjUNxfSWAKCEc88X5S8unYzAedxQGqr9bF6WlmGmWolrL4DdS1gQPwCURhuXJvCZwqulcAzLCgbJjdhaSxYQMLd=s1600');
     
      }
    50% { 
      background-image: url('https://lh3.googleusercontent.com/drive-viewer/AEYmBYR7D1BAqo-jBmIVtw4PhtAZVSUOIgc4KzWW_tZE2OnarBNG3NrgWLBeOulKrBDr0okSBCbigidqdl7McGRYZhvDDQS77Q=s1600');
      font-size: 11vw;
      transform: translate(0%, 0%);
    }
    60%{
      background-position: 50% 50%;
    }
    70%{
        background-position: 70% 0%;
      }
      80%{
        background-position: 1500% 150%;
      }
      90%{
        background-position: 200% 200%;
      }
      100%{
        background-position: 100% 100%;
      }
  }

  section{
    margin: 0;
    padding: 0;
  }


  .t-search{
z-index: -1;
    position: absolute;
  white-space: no-wrap;
   width: 100vw;
   height: 100vh;
   border: 1px solid rgba(40, 133, 145, 0.669);
   border-radius: 2px;
   background-color: black;
 
 visibility: hidden;
 opacity: 0;

}

.search-1{
        position: absolute;
      top: 10%;
      left: 10%;
      white-space: no-wrap;
       width: 80vw;
       height: 80vh;
       box-shadow: 0 0 1000px 100px black ,0 0 1000px 100px rgb(255, 255, 255) ;
       border: 1px solid rgba(40, 133, 145, 0.669);
       border-radius: 2px;
       background-color: rgb(255, 255, 255);
    
    }
.header-pop{
    white-space: no-wrap;
    display: inline-block;
    font-size: 150%;
    padding: 0 14%;
    font-family: "Protest Guerrilla";
    font-weight: 600;
    font-style: normal;
    width: 65%;
    text-align: center;
    text-wrap: nowrap;
}
.boz{
    z-index: 10000;
   opacity: 1;
   visibility: visible;
   animation: fade 0.2s linear  1;
}


@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}

